<p-table [value]="warehouses" dataKey="id" rowExpandMode="single" styleClass="p-datatable-sm">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Warehouses
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th>Name</th>
            <th>Description</th>
            <th style="width: 6rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-warehouse let-expanded="expanded">
        <tr>
            <td>
                <button type="button" pRipple pButton [pRowToggler]="warehouse" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>{{warehouse.name}}</td>
            <td>{{warehouse.description}}</td>
            <td>
                <button pButton type="button" class="p-button-success p-button-text" icon="pi pi-pencil"></button>
                <button pButton type="button" class="p-button-danger p-button-text" icon="pi pi-times"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-warehouse let-section>
        <tr>
            <td colspan="4" class="inner-table" [style]="{'padding-top':'0px', 'padding-bottom':'0px'}">
                <app-section-list [warehouse]="warehouse"></app-section-list>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="2">There are no warehouses.</td>
        </tr>
    </ng-template>
</p-table>